@{
    ViewData["Title"] = "Guardian Site from Canonn";
    ViewData["Heading"] = "Guardian Ruins 103";
    ViewData["ResourceLink"] = "https://ruins.canonn.technology/beta/#GS103";
}

<div class="row">
    <div class="col-xs-5 col-md-3" >
        <div class="row">
            <div class="col-xs-12 canonn-thumbnail">
                <img src="https://ruins.canonn.technology/images/maps/alpha-thumbnail.png" class="img-responsive" />
            </div>
            
        </div>

    </div>

    <div class="col-xs-7 col-md-9">
        <div class="row">
            <div class="col-md-6 text-center text-uppercase">
                <h1> alpha </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h4>ETA CARINA SECTOR EL-Y D16<h4>
            </div>
            <div class="col-md-3">
                <h6>ABC 4 A</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5 col-md-1">
                <dl>
                    <dt><h5>LAT</h5></dt>
                    <dd>-28.2303</dd>
                </dl>
            </div>
            <div class="col-xs-5 col-md-1">
                <dl>
                    <dt><h5>LNG</h5></dt>
                    <dd>99.013</dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="https://ruins.canonn.technology/#GR151" target="_blank">View Guardian Ruin Map</a>
            </div>
        </div>
    </div>


</div>
