@{
    ViewData["Title"] = "Heimdallr Page";
    ViewData["Heading"] = "Heimdallr Page";
    ViewData["ResourceLink"] = "https://canonn.science";
}

<div class="row">
    <div class="col-xs-12">
        Heimdallr is a Canonn tool to allow you to lookup Canonn Codex and map data.
        You can use this in the following ways
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
       &nbsp;
    </div>
</div>


<div class="row">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-12">
                Linking to an item where term is the item to search or reference
            </div>
            <div class="col-xs-12">
                https://info.canonn.technology/Lookup/{term}
            </div>
        </div>
    </div>

    <div class="col-xs-6">
        
        <div class="row">
            <div class="col-xs-12">
                Using a BBCode on supporting forums
            </div>
            <div class="col-xs-12">
                [canonn]{term}[/canonn]
            </div>
        </div>
        
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        Terms you can use
    </div>
</div>

<div class="row">
    <div class="col-xs-5">
        <h5>Type</h5>
    </div>
    <div class="col-xs-7">
        <h5>Examples</h5>
    </div>
</div>

<div class="row">
    <div class="col-xs-5">
        Guardian Ruin with the specified number
    </div>
    <div class="col-xs-7">
        <div class="list-group">
            <a href="/Lookup/GR112" target="_blank" class="list-group-item">GR102</a>
            <a href="/Lookup/GR112" target="_blank" class="list-group-item">GR112</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-5">
        Guardian Ruin Direct Link
    </div>
    <div class="col-xs-7">
        <div class="list-group">
            <a href="/Lookup/https%3A%2F%2Fruins.canonn.technology%2F%23GS15" target="_blank" class="list-group-item">https://ruins.canonn.technology/#GS15</a>
            <a href="/Lookup/https%3A%2F%2Fruins.canonn.technology%2F%23GS72" target="_blank" class="list-group-item">https://ruins.canonn.technology/#GS72</a>
            <a href="/Lookup/https%3A%2F%2Fruins.canonn.technology%2F%23GS107" target="_blank" class="list-group-item">https://ruins.canonn.technology/#GS107</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-5">
        Thargoid Site with the specified number
    </div>
    <div class="col-xs-7">
        <div class="list-group">
            <a href="/Lookup/TS203" target="_blank" class="list-group-item">TS203</a>
            <a href="/Lookup/TS17" target="_blank" class="list-group-item">TS17</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-5">
        Canonn.Science Codex term
    </div>
    <div class="col-xs-7">
        <div class="list-group">
            <a href="/Lookup/Barnacle" target="_blank" class="list-group-item">Barnacle</a>
            <a href="/Lookup/Unknown%20Probe" target="_blank" class="list-group-item">Unknown Probe</a>
            <a href="/Lookup/Gnosis" target="_blank" class="list-group-item">Gnosis</a>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xs-5">
        Canonn.Science Codex Direct Link
    </div>
    <div class="col-xs-7">
        <div class="list-group">
            <a href="/Lookup/https%3A%2F%2Fcanonn.science%2Fcodex%2Flarge-barnacles%2F" target="_blank" class="list-group-item">https://canonn.science/codex/large-barnacles/</a>
            <a href="/Lookup/https%3A%2F%2Fcanonn.science%2Fcodex%2Ffederal-navy-fleet%2F" target="_blank" class="list-group-item">https://canonn.science/codex/federal-navy-fleet/</a>

        </div>
    </div>
</div>
