@{
    Layout = null;
}
<html>

<style>
    body {
        background-color: lightgray;
    }

    .post{
        background-color: lightgray;
        border:1px solid black;
    }

    .small {
        height: 293px;
        width: 700px;
    }

    .small li {
        width: 1791px;
        height:293px;
    }

    .large{
        height:500px;
        width: 900px;
    }
    
    .blockrow {
        background: rgba(43,43,43,0.8) none;
        padding: 6px 12px 6px 12px;
        border: 1px solid rgba(50,50,50,0.8);
        color: rgb(216, 216, 216);
        
    }

    
</style>



<h2 class="blockhead">Guardian 123</h2>
<div class="block bbcodeblock small">
    
    <div class="blockbody">
        <ul class="codeblock">
            <li class="blockrow floatcontainer">
                <div class="desc">
                    <blockquote class="canonn-embed" lang="en" data-value="GS123">
                        <a href="https://canonn.science" target="_blank">Provided by: Canonn</a>
                    </blockquote>
                    <script async src="https://info.canonn.technology/js/canonn-embed.js" charset="utf-8"></script>
                </div>
                <div class="title">Example Output</div>
            </li>
        </ul>
    </div>
</div>


<h2 class="blockhead">Guardian 74</h2>
<div class="block bbcodeblock small">
    
    <div class="blockbody">
        
        <ul class="codeblock">
            <li class="blockrow floatcontainer">
                <div class="desc">
                    <blockquote class="canonn-embed" lang="en" data-value="GS74">
                        <a href="https://canonn.science" target="_blank">Provided by: Canonn</a>
                    </blockquote>
                    <script async src="https://info.canonn.technology/js/canonn-embed.js" charset="utf-8"></script>
                </div>
                <div class="title">Example Output</div>
            </li>
        </ul>
    </div>
</div>



<h2 class="blockhead">Thargoid Site 2 - Inactive</h2>
<div class="block bbcodeblock small">

    <div class="blockbody">

        <ul class="codeblock">
            <li class="blockrow floatcontainer">
                <div class="desc">
                    <blockquote class="canonn-embed" lang="en" data-value="TS2">
                        <a href="https://canonn.science" target="_blank">Provided by: Canonn</a>
                    </blockquote>
                    <script async src="https://info.canonn.technology/js/canonn-embed.js" charset="utf-8"></script>
                </div>
                <div class="title">Example Output</div>
            </li>
        </ul>
    </div>
</div>



<h2 class="blockhead">Thargoid Site 203 - Active</h2>
<div class="block bbcodeblock small">

    <div class="blockbody">

        <ul class="codeblock">
            <li class="blockrow floatcontainer">
                <div class="desc">
                    <blockquote class="canonn-embed" lang="en" data-value="TS203">
                        <a href="https://canonn.science" target="_blank">Provided by: Canonn</a>
                    </blockquote>
                    <script async src="https://info.canonn.technology/js/canonn-embed.js" charset="utf-8"></script>
                </div>
                <div class="title">Example Output</div>
            </li>
        </ul>
    </div>
</div>


<h2 class="blockhead">Direct Link to Guardian Site</h2>
<div class="block bbcodeblock small">

    <div class="blockbody">

        <ul class="codeblock">
            <li class="blockrow floatcontainer">
                <div class="desc">
                    <blockquote class="canonn-embed" lang="en" data-value="https://ruins.canonn.technology/#GS25">
                        <a href="https://canonn.science" target="_blank">Provided by: Canonn</a>
                    </blockquote>
                    <script async src="https://info.canonn.technology/js/canonn-embed.js" charset="utf-8"></script>
                </div>
                <div class="title">Example Output</div>
            </li>
        </ul>
    </div>
</div>



<h2 class="blockhead">Direct Link to Thargoid Sites</h2>
<div class="block bbcodeblock small">

    <div class="blockbody">

        <ul class="codeblock">
            <li class="blockrow floatcontainer">
                <div class="desc">
                    <blockquote class="canonn-embed" lang="en" data-value="https://map.canonn.technology/us">
                        <a href="https://canonn.science" target="_blank">Provided by: Canonn</a>
                    </blockquote>
                    <script async src="https://info.canonn.technology/js/canonn-embed.js" charset="utf-8"></script>
                </div>
                <div class="title">Example Output</div>
            </li>
        </ul>
    </div>
</div>



<h2 class="blockhead">Direct Link to Canonn.Science Page</h2>
<div class="block bbcodeblock small">

    <div class="blockbody">

        <ul class="codeblock">
            <li class="blockrow floatcontainer">
                <div class="desc">
                    <blockquote class="canonn-embed" lang="en" data-value="https://canonn.science/lore/">
                        <a href="https://canonn.science" target="_blank">Provided by: Canonn</a>
                    </blockquote>
                    <script async src="https://info.canonn.technology/js/canonn-embed.js" charset="utf-8"></script>
                </div>
                <div class="title">Example Output</div>
            </li>
        </ul>
    </div>
</div>



<h2 class="blockhead">Direct Link to Canonn.Science Codex Page</h2>
<div class="block bbcodeblock small">

    <div class="blockbody">

        <ul class="codeblock">
            <li class="blockrow floatcontainer">
                <div class="desc">
                    <blockquote class="canonn-embed" lang="en" data-value="https://canonn.science/codex/unknown-probe/">
                        <a href="https://canonn.science" target="_blank">Provided by: Canonn</a>
                    </blockquote>
                    <script async src="https://info.canonn.technology/js/canonn-embed.js" charset="utf-8"></script>
                </div>
                <div class="title">Example Output</div>
            </li>
        </ul>
    </div>
</div>




<h2 class="blockhead">Codex Reference</h2>
<div class="block bbcodeblock small">

    <div class="blockbody">

        <ul class="codeblock">
            <li class="blockrow floatcontainer">
                <div class="desc">
                    <blockquote class="canonn-embed" lang="en" data-value="Unknown Probe">
                        <a href="https://canonn.science" target="_blank">Provided by: Canonn</a>
                    </blockquote>
                    <script async src="https://info.canonn.technology/js/canonn-embed.js" charset="utf-8"></script>
                </div>
                <div class="title">Example Output</div>
            </li>
        </ul>
    </div>
</div>



<h2 class="blockhead">Codex Reference (not specific search term)</h2>
<div class="block bbcodeblock small">

    <div class="blockbody">

        <ul class="codeblock">
            <li class="blockrow floatcontainer">
                <div class="desc">
                    <blockquote class="canonn-embed" lang="en" data-value="Barn">
                        <a href="https://canonn.science" target="_blank">Provided by: Canonn</a>
                    </blockquote>
                    <script async src="https://info.canonn.technology/js/canonn-embed.js" charset="utf-8"></script>
                </div>
                <div class="title">Example Output</div>
            </li>
        </ul>
    </div>
</div>


    

</body>
</html>
