@{
    Layout = null;
}
<html>

<style>
    body {
        background-color: lightgray;
    }

    .post{
        background-color: lightgray;
        border:1px solid black;
    }

    .small {
        height: 293px;
        width: 700px;
    }

    .small li {
        width: 1791px;
        height:293px;
    }

    .large{
        height:500px;
        width: 900px;
    }
    
    .blockrow {
        background: rgba(43,43,43,0.8) none;
        padding: 6px 12px 6px 12px;
        border: 1px solid rgba(50,50,50,0.8);
        color: rgb(216, 216, 216);
        
    }

    
</style>



<h2 class="blockhead">Test1</h2>
<div class="block bbcodeblock small">
    
    <div class="blockbody">
        <ul class="codeblock">
            <li class="blockrow floatcontainer">
                <div class="desc">
                    @*<iframe class="edsm-embed-iframe" scrolling="no" src="https://www.edsm.net/en/tools/embed/index/query/Sol" id="edsm-embed-iframe-Sol" style="max-width: 840px; width: 100%; margin: 10px 0px; padding: 0px;"></iframe>
                    <script async="" src="https://forums-cdn.frontier.co.uk/js/ed/3rdparty-edsm-embed.js" charset="utf-8"></script>*@
                    <blockquote class="canonn-embed" lang="en" data-value="GS123">
                        <a href="https://canonn.science" target="_blank">Provided by: Canonn</a>
                    </blockquote>
                    <script async src="http://localhost:56711/js/canonn-embed.js" charset="utf-8"></script>
                </div>
                <div class="title">Example Output</div>
            </li>
        </ul>
    </div>
</div>


<h2 class="blockhead">Test 2</h2>
<div class="block bbcodeblock small">
    
    <div class="blockbody">
        
        <ul class="codeblock">
            <li class="blockrow floatcontainer">
                <div class="desc">
                    @*<iframe class="edsm-embed-iframe" scrolling="no" src="https://www.edsm.net/en/tools/embed/index/query/Sol" id="edsm-embed-iframe-Sol" style="max-width: 840px; width: 100%; margin: 10px 0px; padding: 0px;"></iframe>
                        <script async="" src="https://forums-cdn.frontier.co.uk/js/ed/3rdparty-edsm-embed.js" charset="utf-8"></script>*@
                    <blockquote class="canonn-embed" lang="en" data-value="GS123">
                        <a href="https://canonn.science" target="_blank">Provided by: Canonn</a>
                    </blockquote>
                    <script async src="http://localhost:56711/js/canonn-embed.js" charset="utf-8"></script>
                </div>
                <div class="title">Example Output</div>
            </li>
        </ul>
    </div>
</div>


    

</body>
</html>
