/**
 *  Bootstrap Changes
 */
.navbar {
    border-radius: 0;
}

.panel-default {
    background-color: #222;
}

.panel-body {
    padding:0;
}

.panel-heading {
    background-color: #222 !important;
    color: #fff !important;
    border-bottom: 2px solid #353535 !important;
}

div {
    border-radius: 0px !important;
    border-color: transparent !important;
}

.canonn-heading {
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.canonn-thumbnail img {
    margin: auto;
    display: block;
}

strong {
    color: #777 !important;
}

p {
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: 100;
}

h1 {
    background: #4e4e4e !important;
    padding:5px;
    display: block;
}

h4 {
    font-size: 18px;
    color: #888;
}

h5 {
    font-size: 18px;
    color: #888;
}

h6 {
    font-size: 18px;
    color: #FFF;
}

body {

    margin: 0 !important;
    padding: 0 !important;
    background: #222 !important;
    color: #ffffff !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 100 !important;
}


