/**
 *  Bootstrap Changes
 */
.navbar {
    border-radius: 0;
}

.panel-default {
    background-color: #222;
}

.panel-body {
    padding:0;
}

.panel-heading {
    background-color: #222 !important;
    color: #fff !important;
    border-bottom: 2px solid #353535 !important;
}

div {
    border-radius: 0px !important;
    border-color: transparent !important;
}

.canonn-heading {
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: 300;
}

.canonn-thumbnail img {
    margin: auto;
    display: block;
    max-height: 200px;
}

h1.ts-inactive {
    background-color: #4e4e4e !important
}

h1.ts-active {
    background-color: #cd4d26 !important;
}

p {
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: 100;
}

h1 {
    background: #4e4e4e !important;
    font-size: 18px;
    display: block;
    padding:2px;
    margin:0;
}

h4 {
    font-size: 18px;
    color: #888;
}

h5 {
    font-size: 18px;
    color: #888;
}

h6 {
    font-size: 18px;
    color: #FFF;
}

body {
    margin: 0 !important;
    padding: 10px !important;
    background: #fff !important;
    background: #222 !important;
    color: #ffffff !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 100 !important;
}

.list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    color: black !important;
    font-weight: bold;
}
